
.transaction-list-container {
    width: 100%;
    overflow-x: auto;
}

.transaction-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.transaction-list th,
.transaction-list td {
    padding: 18px 15px 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.transaction-list th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: 600;
}

.transaction-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-list tbody tr:last-child td {
    border-bottom: none;
}

.transaction-list .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin: 3px;
    color: white;
}

.transaction-list .btn-info {
    background-color: #3498db;
}

.transaction-list .btn-info:hover {
    background-color: #2980b9;
}

.transaction-list input[type="text"],
.transaction-list input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}


.transaction-list th:nth-child(1),
.transaction-list td:nth-child(1) {
    width: 12%;
}

.transaction-list th:nth-child(2),
.transaction-list td:nth-child(2) {
    width: 8%;
}

.transaction-list th:nth-child(3),
.transaction-list td:nth-child(3) {
    width: 12%;
}

.transaction-list th:nth-child(4),
.transaction-list td:nth-child(4) {
    width: 12%;
}

.transaction-list th:nth-child(5),
.transaction-list td:nth-child(5) {
    width: 15%;
}

.transaction-list th:nth-child(6),
.transaction-list td:nth-child(6) {
    width: 12%;
}

@media (max-width: 768px) {
    .transaction-list {
        border: 0;
    }

    .transaction-list thead {
        display: none;
    }

    .transaction-list tr {
        margin-bottom: 15px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .transaction-list td {
        display: block;
        text-align: right;
        font-size: 0.9em;
        border-bottom: 1px dotted #ddd;
    }

    .transaction-list td:last-child {
        border-bottom: 0;
    }

    .transaction-list td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 5px;
        white-space: nowrap;
    }
}

.transaction-list th:nth-child(1),
.transaction-list td:nth-child(1) {
    data-label: "Дата и время:";
}

.transaction-list th:nth-child(2),
.transaction-list td:nth-child(2) {
    data-label: "ID операции:";
}

.transaction-list th:nth-child(3),
.transaction-list td:nth-child(3) {
    data-label: "User ID -> Recipient ID:";
}

.transaction-list th:nth-child(4),
.transaction-list td:nth-child(4) {
    data-label: "Сумма операции:";
}

.transaction-list th:nth-child(5),
.transaction-list td:nth-child(5) {
    data-label: "Статус операции:";
}

.transaction-list th:nth-child(6),
.transaction-list td:nth-child(6) {
    data-label: "Действия:";
}

.fraudulent-transaction {
    background-color: #ffebee !important;
    position: relative;
}

.fraud-alert {
    position: absolute;
    background-color: rgba(244, 67, 54, 0.7);
    color: white;
    left: 0%;
    padding: 2px;
    border-radius: 4px;
    font-size: 0.8em;
    z-index: 1;
    cursor: default;
}

.expanded-details {
    padding: 15px;
    background-color: #f0f0f0;
    text-align: left;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.detail-item {
    display: flex;
    flex-direction: column;
}

.detail-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.status-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.btn-success {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #388E3C;
}

.btn-danger {
    background-color: #F44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #D32F2F;
}

.btn-info {
    background-color: #3498db;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin: 3px;
}

.btn-info:hover {
    background-color: #2980b9;
}

.btn-info svg {
    margin-right: 5px;
    vertical-align: middle;
}
